body {
background: #1799ea; /* Old browsers */
-moz-linear-gradient(top, #1799ea 0%, #539fe1 27%, #c0d2e0 78%); /* FF3.6+ */
-webkit-gradient(linear, left top, left bottom, color-stop(0%,#1799ea), color-stop(27%,#539fe1), color-stop(78%,#c0d2e0));
-o-linear-gradient(top, #1799ea 0%,#539fe1 27%,#c0d2e0 78%)}
a {display:inline-block; text-decoration:none}

.es-wrap {position:absolute; left:0; top:0; right:0; bottom:0; border-bottom:2px solid green; background:url("../images/bg_mario.png") left bottom repeat-x}
.esicon {position:absolute; left:50px; bottom:80px; width:50px; height:60px; z-index:200}
.esicon img {width:100%; height:100%}
#wrap {overflow:hidden; position:absolute; bottom:0; left:0; width:100%; height:100%}
.cloud {display:block; position:absolute; width:100px; height:110px; background:#fff; border-radius:50%}
.cloud:after {content:""; display:block; position:absolute; left:-60px; top:20px; width:80px; height:80px; background:#fff; border-radius:50%}
.cloud:before {content:""; display:block; position:absolute; right:-60px; top:20px; width:80px; height:80px; background:#fff; border-radius:50%}
.cloud1 {left:10%; top:150px}
.cloud2 {left:55%; top:150px; width:90px; height:90px}
.cloud2:after {left:-50px; width:70px; height:70px}
.cloud2:before {right:-40px; width:70px; height:70px}
.cloud3 {left:30%; top:10px}
.cloud4 {left:80%; top:50px; width:95px; height:95px}
.cloud4:after {left:-50px; width:75px; height:75px}
.cloud4:before {right:-50px; width:75px; height:75px}

.block {display:inline-block; position:absolute; left:22%; bottom:35%; text-align:center}
.block span {display:inline-block}
.block span a {width:40px; height:22px; line-height:24px; background:#ffbce2; border-radius:4px; border:2px solid #ff36a7; font-size:17px; font-weight:bold; color:#ff36a7}
.block span.on a {background:#f028d2; border-color:#eb216c; color:#fff}
.block2 {left:42%; bottom:40%}
.block3 {left:62%; bottom:40%}
button {position:fixed; bottom:10px; width:50px; height:50px; line-height:30px; font-size:15px; text-align:center; font-weight:bold; border-radius:50%; background:rgba(255,255,255,0.5)}
.btn:active {background-color:#ff961b}
.left {left:10px; padding-right:2px}
.right {left:80px; padding-left:4px}
.jump {right:10px; width:auto; line-height:25px; padding:3px 10px}

.green {position:absolute; left:0; right:0; bottom:0; width:100%; height:100px; background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf6f00), color-stop(34%,#c5d300), color-stop(51%,#cbd600), color-stop(67%,#8fc400), color-stop(99%,#142d00)) }
.article {display:none; position:absolute; left:-50px; top:-350px; width:500px; height:300px; background:rgba(255,255,255,0.5); border-radius:30px}